$def with (disinfo)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>	
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/Garfielt.css" />
	<script src="/static/js/jquery-1.4.2.min.js"></script>
	<style>
		#main {
			width:86%;
			height:400px;
			overflow-x:hidden;
			overflow-y:scroll;
			border: #666666 solid 6px;
			margin:100px auto;
			padding:40px;
			font-size:14px;
			background:#f6f6f6;
			margin:50px auto;
		}
		#logo {
			margin:50px auto;
		}
	</style>
</head>
<body class="mainpage">
<div id="container">
	<div class="page-header">
		<h1>系统安装</h1>
	</div>
	<div id='main'>
		$:{disinfo}
	</div>
</div>
</body>
</html>