<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/static/css/Garfielt.css" />
<style>


#wrapper {
	text-align: left;
	background: #eee;
	width: 100%;
	margin: 0 auto;
	height:60px;
}

/* Logo  ---------------------------------------- */

h1 {
	margin: 15px 0 10px 5px;
	width: 225px;
	height: 28px;
	background: url(/static/images/logo.png) no-repeat left top;
}

h1 a {
	display: block;
	width: 225px;
	height: 28px;
}

h1 span { display: none; }
#containerHolder {
	background: #666;
	padding: 5px;
	height:44px;
}

</style>
</head>
<body>
<div id="wrapper">
<div id="containerHolder">
	<h1><a href="#"><span>Transdmin Light</span></a></h1>
</div>
</div>
</body>
</html>